.message{
    width: 80%;
    position: sticky;
    top: 1rem; left: 0;
    z-index: 10000;
    border-radius: .5rem;
    padding: .5rem 2rem;
    margin: 0 auto 1rem auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.message i{
    font-size: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.message i:hover{
    color: var(--red);
}